*del.sh
Evolutionary_loop/Shared-Code/GA/*.csv
Evolutionary_loop/SaveStates/*
Evolutionary_loop/Run_Outputs/*
Evolutionary_Loop/*.txt
Evolutionary_Loop/scriptEOFiles/
Evolutionary_Loop/test.sh

Evolutionary_Loop/Antenna_Performance_Metric/AraOut*
Evolutionary_Loop/Antenna_Performance_Metric/*.txt
Evolutionary_Loop/Antenna_Performance_Metric/*.error
Evolutionary_Loop/Antenna_Performance_Metric/*.output

Xmacros/output.xmacro
Xmacros/simulation_PEC.xmacro
Xmacros/*.png

.DS_Store
*.root
*.uan
*.dat
*.csv
slurm*
core.*
*.exeAntenna_P
*.exe
*.x
